@page "/Help"

<h3>Инструкция</h3>

<h5>Редактирование элементов осуществляется построчно, при клике на запись в таблице</h5>


  <article>
    <ol>
      <li>
        <p>Для первых пунктов нужно раскрыть подтаблицу кнопкой "показать/скрыть"</p>

        <img src="images/help/4.png" alt="Подтаблица" width="800" usemap="#Firstpart" />
        <p>Для вторых перейти в меню слева в раздел 2, подраздел 2 или 2 архив</p>
        <img src="images/help/1.png" alt="Вторые пункты" width="800" />
      </li>
      <li>
        <p>Появляется окно с редактированием (над выбранной строкой). Тут кликаем по полю</p>
        <img src="images/help/2.png" alt="Вторые пункты" width="800" />
      </li>
      <li>
        <p>
          Как только закончили менять все что хотели, листаем вправо колесиком мышки или через области прокрутки вокруг таблицы и жмем на галку подтверждения.
          Если нет возможности пролистать таблицу по горизонтали средней кнопкой мыши, можно внизу отключить "Фиксированный размер" - тогда таблица будет без прокрутки по горизонтали и вертикально максимального размера, чтобы уместить выбранное количество элементов пагинации (по умолчанию 10)
        </p>

        <img src="images/help/fixsize.png" alt="Редактирование" width="800" />
      </li>
      <li>
        <p>После нажатия галки, справа вверху должно отобразиться уведомление с зеленым фоном об успешном сохранении изменений.</p>
        <img src="images/help/3.png" alt="Уведомление" width="800" />
      </li>
    </ol>
    @*<p>
      <map name="Firstpart">
        <area shape="poly" coords="113,24,211,24,233,0,137,0" href="inform.html" alt="Информация">
      </map>
    </p>*@
  </article>

  @code {

  }
